.wallpaper {
    background-image:
        linear-gradient(rgba(245, 239, 230, 0.7), rgba(245, 239, 230, 0.7), rgba(245, 239, 230, 1));

    background-size: cover;
    /* Adjust the background size as needed */
    background-repeat: no-repeat;
}

.typing {
    width: 100%;
    height: 320px;
    text-align: center;
}

.typing h2 {
    font-size: 2.6em;
    padding: 5% 0 2% 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.typing .cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hidden-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.visible-header {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

/* Center cards vertically */
.center-y {
    display: flex;
    align-items: center;
}

/* Add padding to the sides of the cards */
.card-item {
    margin-right: 1rem;
    /* Adjust as needed */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#pet {
    width: 10px;
    height: 10px;
    background-color: red;
    box-shadow: 0 0 10px lightcoral;
    filter: blur(5%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    animation: flicker 2s infinite;
}

.content {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url('firefly.png');
    background-size: cover;
    animation: flicker 2s infinite;
    cursor: none;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}